.twitter-timeline {
  max-width: 100%;
  max-height: 1000px;
}
.fa {
  font-size: 25px;
  color: #FFFFFF;
}
.panel-title {
 font-size: 25px; 
 color: #FFFFFF;
 font-family: 'Open Sans', sans-serif;
}
.panel-heading {
 background-color: #1da1f2 !important;
 color: #1da1f2 !important;
}
.panel {
 margin-top: 25px;
}

.col-md-4 {
	width: 50%;
}

.hide {
	display:  none;
}

.panel-danger {
	width:  600px ! important;
}

.panel-heading h3 {
	color:  white;
}

#txtSearch {
    background-image: url('images.png'); /* Add a search icon to input */
    background-position: 10px 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    background-size: 25px;
    height: 50px;

}

* {
  box-sizing: border-box;
}

#divClientLogin {
	margin-left: 550px;
    margin-top: 50px;
}